<h3>ログイン</h3>
<div class="contents row">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
      <br>
      <div class="field">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <div class="field">
      <%= link_to 'パスワードを忘れた方はこちら', new_user_password_path %>
      </div>
      <br>
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.label :ログイン状態を保存する %><br />
          <%= f.check_box :remember_me %>
        </div>
      <% end -%>
      <br>
      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
  </div>