<h3>フィードバック送信画面</h3>

<% if user_signed_in? %>
    <%= form_tag("/create") do %>
        <div>
            <%= label_tag "form-content", "To" %>
            <p><%= select_tag "feedbacks[user]", options_from_collection_for_select(@users, :id, :name) %></p>
        </div>
        <div class="form-group">
            <%= label_tag "form-title", "タイトル" %>
            <%= text_field :feedbacks, :title, id:"form-title", class:"form-control", placeholder: "タイトル" %>
        </div>
        <div class="form-group">
            <%= label_tag "form-content-assist", "フィードバック内容(Aim to Assist）" %>
            <%= text_area :feedbacks, :assist, id:"form-content-assist", class:"form-control", placeholder: "フィードバック内容(Aim to Assist）" %>
        </div>
        <div class="form-group">
            <%= label_tag "form-content-action", "フィードバック内容(Actionable)" %>
            <%= text_area :feedbacks, :action, id:"form-content-action", class:"form-control", placeholder: "フィードバック内容(Actionable)" %>
        </div>
        <%= submit_tag "送信",class:"btn btn-primary", data: { confirm: "送信しますがよろしいですか？" } %>
    <% end %>
<% else %>
  <%= render 'feedbacks/not_logged_in' %>
<% end %>